.input-section {
  font-weight: 300;
  font-size: 14px;
  color: #424242;

  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
}

.input-box {
  width: 100%;
  height: 40px;
  background-color: white;
  border: solid #80c59d 1px;
  border-radius: 12px;

  padding-left: 10px;

  font-family: Prompt;

  font-weight: 300;
  font-size: 16px;
  color: #424242;

  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;

  &:focus {
    border: solid #6baf88 1px;
  }
}
