.page-grid {
  width: max(75vw, calc(60vw + 8em));
  /* width: 100dvw; */
  height: calc(100dvh + 15dvh + 12dvw - 60px);
  margin-left: auto !important;
  margin-right: auto !important;
  padding-bottom: 2em;

  display: grid;
  grid-template-areas:
    "greeting-part"
    "content-part";
  grid-template-rows: minmax(180px, calc(15dvh + 12dvw)) calc(
      100dvh - 60px - 2em
    );

  scroll-snap-align: start;
  scroll-snap-stop: always;

  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(1em);
  scroll-snap-type: y mandatory;
}
.greeting-part {
  grid-area: greeting-part;
  /* background-color: antiquewhite; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: clamp(1.5em, calc(2vw + 0.5em), 2.8em);
  color: white;

  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.content-part {
  grid-area: content-part;

  padding-left: calc(5vw);
  padding-right: calc(5vw);

  padding-bottom: 2em;

  background-color: rgba(255, 255, 255, 100);
  border-radius: 30px;

  scroll-snap-align: start;
  scroll-snap-stop: always;
}

@media (max-width: 800px) {
  .page-grid {
    width: 100dvw;
    height: calc(100dvh + 15dvh + 12dvw - 60px);
    padding-bottom: 0;
    grid-template-rows: minmax(180px, calc(15dvh + 12dvw)) calc(100dvh - 60px);
  }
  .content-part {
    padding-left: 2em;
    padding-right: 2em;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.topic {
  padding-top: calc(1vw + 1em);
  padding-bottom: 1em;
  /* padding-left: 25px;
  padding-right: 25px; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-weight: 600;
  font-size: clamp(1.25em, calc(1vw + 0.3em), 1.56em);
  color: #424242;
}
.topic-left {
  display: inline-flex;
  gap: 1em;
}
.topic-right {
  display: inline-flex;
  gap: 1em;
}

.plus-button {
  /* height: clamp(1.5em, calc(1vw + 0.8em), 1.8em); */
  /* aspect-ratio: 1 / 1; */
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  /* border: 1px solid #698575; */
  /* background-color: #71b78e; */
  border: 1px solid #2c8dce;
  /* background-color: #2ea4db; */
  background-image: linear-gradient(
    35deg,
    rgb(42, 154, 219),
    rgb(56, 192, 226)
  );
  border-radius: 1.5em;
  text-align: center;

  font-weight: 500;
  font-size: clamp(0.8em, calc(0.6vw + 0.2em), 0.85em);
  color: #ffffff;

  user-select: none;
  transition: 0.3s;

  &:hover {
    scale: 1.1;
    /* background-color: #66a580; */
    /* background-color: #228ecc; */
    background-image: linear-gradient(
      35deg,
      rgb(36, 145, 207),
      rgb(50, 186, 219)
    );

    cursor: pointer;
  }
}

.homelist-container {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;

  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 20px;
  row-gap: 1em;

  /* max-height: calc(
    100dvh - calc(15dvh + 12dvw) - calc(1vw + 1em) -
      clamp(1.25em, calc(1vw + 0.3em), 1.56em) - 1em
  ); */
  max-height: calc(100dvh - 15dvh - 5dvw);
  overflow-y: scroll;
}
