.page-grid {
  width: max(75vw, calc(60vw + 8em));
  /* width: 100dvw; */
  height: calc(100dvh + 15dvh + 12dvw - 60px);
  margin-left: auto !important;
  margin-right: auto !important;
  padding-bottom: 2em;

  display: grid;
  grid-template-areas:
    "homeinfo-part"
    "content-part";
  /* grid-template-rows: minmax(180px, calc(15dvh + 12dvw)) 1fr; */
  grid-template-rows: minmax(180px, calc(15dvh + 12dvw)) calc(
      100dvh - 60px - 2em
    );
  /* row-gap: 1.5em; */

  scroll-snap-align: start;
  scroll-snap-stop: always;

  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(1em);
  scroll-snap-type: y mandatory;
}
.homeinfo-part {
  width: 100%;
  grid-area: homeinfo-part;

  /* background-color: rgb(255, 255, 255); */
  /* backdrop-filter: blur(8px); */
  border-radius: 30px;
  /* border: 1px solid;
  border-color: rgba(255, 255, 255, 0.87); */

  padding-left: calc(5vw);
  padding-right: calc(5vw);
  /* padding-top: 1em; */
  padding-bottom: 1em;

  display: grid;
  /* grid-template-areas: "home-part member-part"; */
  grid-template-areas: "info-part picture-part";
  grid-template-columns: 1fr clamp(125px, 19vw, 220px);
  column-gap: 1em;

  font-size: 16px;
  color: rgb(255, 255, 255);

  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.info-part {
  padding-left: 4em;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 0.8em;
}

.title-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8em;

  position: relative;
}
.homename-line {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.8em;
}
.home-icon {
  font-size: clamp(1.3em, calc(2vw + 0.5em), 2.2em);

  position: absolute;
  left: -1.3em;
}
.homename-text {
  font-weight: 700;
  font-size: clamp(1.5em, calc(2vw + 0.5em), 2.8em);
}
.homeid-text {
  font-weight: 300;
  font-size: clamp(0.7em, calc(0.7em + 0.5vw), 0.9em);
}
.info-box {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  font-weight: 300;
  font-size: clamp(0.7em, calc(0.7em + 0.5vw), 0.9em);
  /* color: #c9c9c9; */
}

.button-container {
  display: flex;
  flex-direction: row;

  gap: 0.5em;
}

.add-member-button {
  width: fit-content;
  /* width: clamp(120px, 20%, 300px); */
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.6em;
  padding-right: 0.6em;

  /* background-color: #ffffff;
  border: 1px solid #66865d; */
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0.7em;
  text-align: center;

  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;

  font-weight: 500;
  font-size: clamp(0.8em, calc(0.8vw + 0.3em), 1em);
  /* color: #66865d; */
  color: #ffffff;

  user-select: none;
  transition: 0.3s;

  cursor: pointer;

  &:hover {
    scale: 1.05;
    /* background-color: #f0f0f0; */
    background-color: rgba(0, 0, 0, 0.089);
  }
}
.add-member-icon {
  /* font-size: 3em; */
  font-size: clamp(1.3em, calc(2vw + 0.3em), 1.5em);
}

.delete-home-button {
  width: fit-content;
  /* width: clamp(120px, 20%, 300px); */
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.6em;
  padding-right: 0.6em;

  /* background-color: #ffffff;
  border: 1px solid #db5a49; */
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0.7em;
  text-align: center;

  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;

  font-weight: 500;
  font-size: clamp(0.8em, calc(0.8vw + 0.3em), 1em);
  /* color: #db5a49; */
  color: #ffffff;

  user-select: none;
  transition: 0.3s;

  cursor: pointer;

  &:hover {
    scale: 1.05;
    /* background-color: #eeeeee; */
    background-color: rgba(0, 0, 0, 0.089);
  }
}
.delete-home-icon {
  font-size: clamp(1.3em, calc(2vw + 0.3em), 1.5em);
}

.picture-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-pic {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 1.2em;
  border: 2px double rgb(255, 255, 255);
  /* background-color: rgb(216, 216, 216); */
  background-image: linear-gradient(
    -45deg,
    rgb(253, 215, 110),
    rgb(252, 234, 155)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture-icon {
  color: rgb(255, 255, 255);
  font-size: 5em;
}
@media (max-width: 1000px) {
  .homeinfo-part {
    border: none;
  }
  .info-part {
    padding-left: 2em;
  }
}
@media (max-width: 500px) {
  .info-part {
    padding-left: 1em;
    /* justify-content: flex-start; */
  }
  .picture-part {
    /* justify-content: flex-start; */
  }
}

.content-part {
  grid-area: content-part;

  padding-left: calc(5vw);
  padding-right: calc(5vw);

  padding-bottom: 2em;

  background-color: rgba(255, 255, 255, 100);
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  scroll-snap-align: start;
  scroll-snap-stop: always;
}

@media (max-width: 1000px) {
  .page-grid {
    width: 100dvw;
    height: calc(100dvh + 15dvh + 12dvw - 60px);
    padding-bottom: 0;
    grid-template-rows: minmax(180px, calc(15dvh + 12dvw)) calc(100dvh - 60px);
  }
  .content-part {
    padding-left: 2.5em;
    padding-right: 2.5em;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .back-button {
    margin-left: 0.4em;
  }
}

.display-mode-switch {
  width: 100%;
  padding-top: calc(1vw + 1em);
  padding-bottom: calc(0.8vw + 1.2em);

  /* border-bottom: 1px solid rgb(0, 0, 0, 0.2); */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 1.5em;

  position: relative;
}
.mode-button-sl {
  font-weight: 600;
  font-size: clamp(1.1em, calc(1vw + 0.3em), 1.3em);
  color: #525252;
  /* color: rgb(116, 116, 116); */

  position: relative;

  user-select: none;
  cursor: pointer;

  transition: 0.2s;

  &:hover {
    scale: 1.05;
  }
}
.mode-button-sl::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.25em;
  width: 100%;
  height: 0.25em;
  border-radius: 0.2em;
  background-image: linear-gradient(
    to right,
    rgb(63, 210, 255),
    rgb(33, 166, 255)
  );
}
.mode-button-nsl {
  font-weight: 600;
  font-size: clamp(1em, calc(1vw + 0.2em), 1.2em);
  color: #adadad;

  user-select: none;
  cursor: pointer;

  transition: 0.2s;

  &:hover {
    scale: 1.05;
  }
}
.back-button {
  height: clamp(30px, calc(1.2em + 1vw), 37px);
  width: clamp(30px, calc(1.2em + 1vw), 37px);
  /* height: 37px;
  width: 37px; */
  padding: 0.2em;
  border-radius: 10px;
  color: #757575;

  position: absolute;
  left: -2.4em;

  transition: background-image 0.1s;

  cursor: pointer;

  &:hover {
    background-color: #0000000c;
  }
}

.topic {
  padding-top: calc(1vw + 1em);
  padding-bottom: 1em;
  /* padding-left: 25px;
  padding-right: 25px; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-weight: 600;
  font-size: clamp(1.25em, calc(1vw + 0.3em), 1.56em);
  color: #424242;
}
.topic-left {
  display: inline-flex;
  /* gap: 1em; */
  position: relative;
}
.topic-right {
  display: inline-flex;
  gap: 1em;
}

@media (max-width: 1000px) {
  .back-button2 {
    left: -1.7em;
  }
}
.create-room-button {
  width: 12em;
  /* width: 98%; */
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  border: 1px solid #adadad;
  border-radius: 1.5em;
  /* background-color: #71b78e; */
  background-color: #ffffff;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3em;

  font-weight: 500;
  font-size: clamp(1em, calc(0.8vw + 0.4em), 1.1em);
  /* color: #ffffff; */
  color: #999999;

  user-select: none;
  transition: 0.3s;

  cursor: pointer;

  &:hover {
    /* scale: 1.03; */
    background-color: #f3f3f3;
  }
}

.roomlist-container {
  width: 100%;
  margin-top: calc(1vw + 1em);
  padding-top: 5px;
  padding-left: 1em;
  padding-right: 1em;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* grid-template-rows: repeat(auto-fit, minmax(180px, auto)); */
  column-gap: 20px;
  row-gap: 1em;

  max-height: calc(100dvh - 15dvh - 5dvw);
  overflow-y: scroll;
}
@media (max-width: 500px) {
  .roomlist-container {
    padding-left: 0em;
    padding-right: 0em;
    /* grid-template-columns: repeat(auto-fit, 100%); */
  }
}

.hr {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}
