@font-face {
  font-family: Prompt;
  src: url("./fonts/Prompt/Prompt-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: Prompt;
  src: url("./fonts/Prompt/Prompt-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: Prompt;
  src: url("./fonts/Prompt/Prompt-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: Prompt;
  src: url("./fonts/Prompt/Prompt-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: Prompt;
  src: url("./fonts/Prompt/Prompt-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: Prompt;
  src: url("./fonts/Prompt/Prompt-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: Prompt;
  src: url("./fonts/Prompt/Prompt-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: Prompt;
  src: url("./fonts/Prompt/Prompt-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: Prompt;
  src: url("./fonts/Prompt/Prompt-Black.ttf") format("truetype");
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Prompt;
  background-color: #ffffff;
  /* background-color: #ffffff; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Web */

.header {
  top: 0;
  min-width: 100%;
  height: 50px;
  background-color: #71b78e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 200;
  position: sticky;
}
.space-part {
  background-color: #ffffff;
  /* background-color: #424242; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* overflow-x: scroll; */
}

/* Content Area */

.content-area {
  width: 75%;
  /* min-width: 480px; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

/* Content Area
   |___________> แบ่ง Content Section */

.content-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #ccc; */
}

/* Content Area
   |___________> แบ่ง Content Section
   |________________________________> Content Header */

.content-header {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content-header-text-area {
  /* background-color: #999595; */
  font-family: Prompt;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content-header-title {
  font-weight: 700;
  font-size: 22px;
  color: #424242;
}
.content-header-description {
  font-weight: 300;
  font-size: 14px;
  color: #9f9f9f;
}
.content-header-button-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-weight: 300;
  font-size: 16px;
  color: #68726d;
}

/* Content Area
   |___________> แบ่ง Content Section
   |________________________________> Content Header
   |________________________________________________> ปุ่มเลือก Display ตัวชี้วัดคุณภาพอากาศ */

.card-button-default {
  background-image: url("./image/card_button_default.png");
  background-size: contain;
  width: 50px;
  height: 50px;
  transition: background-image 0.1s;

  &:hover {
    background-image: url("./image/card_button_default_hover.png");
  }
}
.card-button-selected {
  background-image: url("./image/card_button_selected.png");
  background-size: contain;
  width: 50px;
  height: 50px;
  transition: background-image 0.1s;

  &:hover {
    background-image: url("./image/card_button_selected_hover.png");
  }
}

.graph-button-default {
  background-image: url("./image/graph_button_default.png");
  background-size: contain;
  width: 50px;
  height: 50px;
  transition: background-image 0.1s;

  &:hover {
    background-image: url("./image/graph_button_default_hover.png");
  }
}
.graph-button-selected {
  background-image: url("./image/graph_button_selected.png");
  background-size: contain;
  width: 50px;
  height: 50px;
  transition: background-image 0.1s;

  &:hover {
    background-image: url("./image/graph_button_selected_hover.png");
  }
}

/* Content Area
   |___________> แบ่ง Content Section
   |________________________________> Content Container */

.content-container {
  width: 100%;
  /* padding-left: 25px;
  padding-right: 25px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Content Area
   |___________> แบ่ง Content Section
   |________________________________> Content Container
   |___________________________________________________> Air Quality Card Container */

.aqcard-container {
  width: 95%;
  height: 260px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 15px;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 1rem;
  /* background-color: #ffffff; */
  /* --mask: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0,
      rgba(0, 0, 0, 1) 40%,
      rgba(0, 0, 0, 0) 95%,
      rgba(0, 0, 0, 0) 0
    )
    100% 50% / 100% 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask); */
}
.aqcard-container-scrollbar {
  /* scrollbar-color: transparent transparent; */
  scrollbar-color: #f3f3f3 transparent;
  transition: scrollbar-color 0.3s;

  &:hover {
    scrollbar-color: #becac3 transparent;
  }

  &:not(:hover)::-webkit-scrollbar-thumb {
    background: transparent;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    transition: background 0.3s;
    background: rgb(0, 0, 0);
  }
}

/* Content Area
   |___________> แบ่ง Content Section
   |________________________________> Content Container
   |___________________________________________________> Air Quality Card Container
   |_______________________________________________________________________________> Air Quality Card */

.aqcard {
  min-width: 250px;
  height: 230px;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: Prompt;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

  user-select: none;
  transition: 0.3s;

  &:hover {
    min-width: 260px;
    height: 235px;
  }
}
.aqcard-bg {
  width: 100%;
  /* height: 150px; */
  height: 65%;
}
.aqcard-detailbox {
  background-color: white;
  width: 100%;
  /* height: 80px; */
  height: 35%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.aqcard-detailbox-textbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.aqcard-title {
  font-weight: 700;
  font-size: 18px;
  color: #424242;
}
.aqcard-value {
  font-weight: 400;
  font-size: 32px;
  color: #424242;
}
.aqcard-unit {
  font-weight: 200;
  font-size: 14px;
  color: #9f9f9f;
}

/* Content Area
   |___________> แบ่ง Content Section
   |________________________________> Content Container
   |___________________________________________________> Air Quality Graph Container */

.aqgraph-container {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: #424242;
  /* background-color: #ac7777; */
  column-gap: 3%;
  row-gap: 30px;
  overflow: visible;
}

/* Content Area
   |___________> แบ่ง Content Section
   |________________________________> Content Container
   |___________________________________________________> Air Quality Graph Container
   |________________________________________________________________________________> Air Quality Graph */

.aqgraph {
  min-width: 600px;
  height: 480px;
  /* padding-top: 20px; */
  background-color: #ffffff;

  border-radius: 25px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  user-select: none;

  font-family: Prompt;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

  transition: 0.3s;

  &:hover {
    min-width: 610px;
    height: 485px;
  }
}

.aqgraph-textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aqgraph-title {
  font-weight: 700;
  font-size: 18px;
  color: #424242;
}
.aqgraph-unit {
  font-weight: 200;
  font-size: 14px;
  color: #9f9f9f;
}
.aqgraph-chartarea {
  /* width: 520px;
  height: 350px; */
  width: 85%;
  height: 72%;
  /* background-color: #71b78e; */
}

/* ============================================================================================================================================ */
.sidebar {
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: white;
  transition: 0.3s;
}

.sidebar.visible {
  left: 0;
}
.device-controls {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.device-control {
  text-align: center;
}

.profile-dropdown {
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 1rem;
  display: none;
}

.profile-dropdown.visible {
  display: block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(14px);
}
