.device-card {
  /* width: 375px; */
  /* height: 190px; */
  width: 100%;
  height: clamp(100px, 8vw, 150px);
  padding: 1em;
  border-radius: 20px;

  background-color: rgb(252, 252, 252);
  border: solid rgba(0, 0, 0, 0.2) 1px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  font-weight: 300;
  font-size: 14px;
  color: #9f9f9f;

  scroll-snap-align: start;
  scroll-snap-stop: always;

  user-select: none;
  transition: 0.3s;

  &:hover {
    width: calc(100% + 3px);
    height: clamp(102px, calc(8vw + 2px), 152px);
    /* width: 378px; */
    /* height: 192px; */

    background-color: rgb(255, 255, 255);
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
      rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    /* background-color: rgba(205, 205, 205, 0.8);
      border: solid rgba(0, 0, 0, 0.2) 1px; */
  }
}

.square {
  aspect-ratio: 1 / 1;
  height: 100%;
  border-radius: 1.2em;
  background-color: rgb(155, 186, 196);
}

.text-container {
  /* width: calc(100% - 150px); */
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  /* gap: 5px; */
  margin-bottom: 5px;
  /* background-color: #9f9f9f; */
}

.device-title-container {
  padding-top: 5px;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* gap: 5px; */
}

.devicename {
  font-weight: 600;
  /* font-size: 20px; */
  font-size: clamp(1.2em, calc(1vw + 0.5em), 18px);
  color: #424242;
}

.deviceid {
  font-weight: 300;
  font-size: 14px;
  color: #9f9f9f;
}

.detail-container {
  flex: 1;
  width: 100%;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  gap: 7px;
  /* background-color: rgb(230, 193, 193); */
}
